@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hover-arrow-rotate {
  transition: 0.25s ease-in-out;
}
.arrow-group:hover .hover-arrow-rotate {
  transform: rotate(40deg) translateX(2px);
}

.fade-in-down-small {
  animation: fade-in-down-small 1s linear alternate;
}

@keyframes fade-in-down-small {
  from {
    left: 10px;
  }
  to {
    left: 0px;
  }
}
